<ul>

    <li>
      The <a href="https://c9.io">Python Programming Language</a> was my first
      true development love, I didn't so much "learn" Python as recognize it as
      a means of personal expression. 
    </li><li>
    <li>
      <a href="https://c9.io">Cloud9 IDE</a>: collaboratively edit and 
      debug code in your web browser; syntax highlighting, code completion,
      unix shell, and more.
    </li><li>
      <a href="https://news.ycombinator.com/">Hacker News</a>: My favorite 
      technology and startup echo chamber.
    </li>

</ul>